h1{
background-color:#FEDFD8
color:#000000;
font-size:100px;
}
p.fancy{
color:#FEFC8F
font-style: verdana;
}
ul.nav li{
  display:inline;
  padding:20px;
}
ul.nav li a{
  display:block;
  padding:20px;
  background-color:##E1D32D;
  color:#fff;
    
}
